.card-inner-parent{
    padding-top: 75px ;
    padding-bottom: 20px;
}
.card-details{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 80vw;
    height: 30vh;
    height: fit-content;
    margin-left: 5vw;
}
.details{
    display: flex;
    flex-direction: column;
    align-items:start;
    text-align: justify;
}
.desc-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-btns{
    width: 100%;
    padding-top: 50px;
}
.action-btns button{
    width: 47.5%;
    border-radius: 0px;
}
.action-btns  :nth-child(1){
    margin-right: 5%;
}